<div id="bot">
    <div id="bot_header">
        <img src="https://www.vvaa.nl/-/media/service/icons/vive.svg" />
        <span id="closeBot"><img src="https://www.vvaa.nl/-/media/service/icons/white/minus.svg" /></span>
        <h3>Kan ik u helpen?</h3>
        <h4>Stel uw vraag</h4>
        <h5>Chat met Vive</h5>
        <h6>Virtuele Assistent</h6>
    </div>
    <div id="bot_body">
        <div id="waiting-element">
            <p>
                <img src="https://www.vvaa.nl/-/media/service/icons/typing.svg" />
            </p>
        </div>
    </div>
    <div id="bot_input">
        <form onsubmit="submitText(event)">
            <input type="text" id="textinput" autocomplete="off" placeholder="Stel uw vraag..." />
            <button type="submit">Stuur</button>
        </form>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="https://www.vvaa.nl/-/media/service/va.js"></script>
<script>
    var linkElementOne = document.createElement("link");
    linkElementOne.rel = "stylesheet";
    linkElementOne.href = "https://use.typekit.net/bsa2cee.css";
    var linkElementThree = document.createElement("link");
    linkElementThree.rel = "stylesheet";
    linkElementThree.href = "https://www.vvaa.nl/-/media/service/bot.css";
    document.head.appendChild(linkElementOne);
    document.head.appendChild(linkElementThree);
    setTimeout(function() {
        triggerBot('autoverzekering_sales');
    }, 10000);
</script>
