#service-wrapper {
    padding: 0 90px;
}
#service-search {
    margin-bottom: 32px;
    position: relative;
    z-index: 5;
    min-height: 40px;
    input[type="search"] {
        background: white;
        border: 1px solid $dark-gray;
        border-radius: 5px;
        width: 100%;
        height: 48px;
        font-size: 20px;
        font-family: Arial, sans-serif !important;
        float: left;
        padding: 0 10px;
        line-height: 49px;
        padding-right: 120px;
        &:focus {
            border: 1px solid $orange;
        }
    }
    input[type="search"].active {
        border-radius: 3px 3px 0 0;
    }
    input[type="submit"] {
        width: 15%;
        position: absolute;
        background: $orange;
        color: white;
        border: none;
        font-size: 20px;
        height: 48px;
        border-radius: 0 5px 5px 0;
        line-height: 49px;
        right: 0;
        font-family: 'itc-avant-garde-gothic-pro', sans-serif;
    }
    input[type="submit"].active {
        border-radius: 0 3px 3px 0;
    }
    ::-webkit-input-placeholder {
        color: #3f434a;
    }
    ::-moz-placeholder {
        color: #3f434a;
    }
    :-ms-input-placeholder {
        color: #3f434a;
    }
    :-moz-placeholder {
        color: #3f434a;
    }
}

#suggestions {
    background: white;
    padding: 0;
    border-top: 1px solid #b5b5b5;
    border-radius: 0 0 5px 5px;
    position: absolute;
    width: 100%;
    top: 47px;
    list-style: none;
    box-shadow: 0 3px 8px #ccc;
}

#suggestions li {
    cursor: pointer;
    line-height: 20px;
    padding: 10px 15px;
    font-weight: 400 !important;
    position: relative;
}

#suggestions li:hover {
    color: #b5b5b5;
}

#suggestions li img {
    width: 15px;
    margin-right: 5px;
    transform: rotate(90deg);
    position: absolute;
    left: 11px;
    top: 11px;
}

#suggestions li p {
    margin-left: 20px;
    font-family: 'itc-avant-garde-gothic-pro', sans-serif;
}

#suggestions li i {
    font-weight: 700 !important;
    font-style: normal;
}

#search-results {
    display: none;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    padding: 15px;
    margin: 0 90px;
    margin-bottom: 32px;
    h4 {
        font-weight: 500 !important;
        font-size: 21px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 10px;
        &:last-child, &:last-of-type {
            margin-bottom: 0;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 15px 0;
        li {
            list-style: initial;
            margin-left: 15px;
        }
        li.dialog-option {
            list-style: none;
            color: $orange;
            margin-left: 0;
            cursor: pointer;
            margin-bottom: 10px;
            padding-left: 24px;
            position: relative;
            transition: all .2s;
            &:before {
                content: "";
                display: block;
                transform: rotate(90deg);
                background: url('https://www.vvaa.nl/-/media/service/icons/orange/chevron.svg');
                width: 15px;
                height: 15px;
                background-size: 15px 15px;
                position: absolute;
                left: 0;
                top: 4px;
            }
            &:hover {
                color: #d7690a;
                &:before {
                    background: url('https://www.vvaa.nl/-/media/service/icons/orange/chevron-2.svg');
                    background-size: 15px 15px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.back-link {
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    color: #b5b5b5;
    img {
        width: 15px;
        transform: rotate(270deg);
        display: inline-block;
        margin-top: -2px;
    }
}

#suggestions .search-item {
    position: relative;
    img {
        position: absolute;
        top: 11px;
        left: 11px;
        width: 15px;
        transform: rotate(-90deg);
    }
}

.search-item b {
    font-weight: 700 !important;
}

#overlay {
    position: fixed;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all .3s;
}

#overlay.active {
    z-index: 4;
    opacity: 1;
}

#feedback-search {
    #fulfilled {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #service-search {
        input[type="search"] {
            padding-right: 115px;
        }
        input[type="submit"] {
            width: 20%;
        }
    }
}

@media only screen and (max-width: 768px) {
    #service-wrapper {
        padding: 0 10px;
    }
    #search-results {
        margin: 0 10px;
    }
    #service-search {
        input[type="search"] {
            padding-right: 80px;
            font-size: 14px;
        }
        input[type="submit"] {
            font-size: 14px;
            width: 70px;
        }
    }
    #search-results {
        margin-bottom: 20px;
    }
    #feedback-search {
        #fulfilled {
            margin-top: 20px;
        }
    }
}
