#self-service {
    padding: 62px 80px;
    overflow: hidden;
    h3 {
        color: $orange;
        font-weight: 500 !important;
        font-size: 32px;
        text-align: center;
        margin-bottom: 52px;
    }
    .selfservice-block {
        display: block;
        background: $gray;
        padding: 38px 0;
        text-align: center;
        width: 100%;
        margin-bottom: 32px;
        border-radius: 3px;
        text-decoration: none;
        transition: all .2s;
        &:last-child {
            float: right;
        }
        h4 {
            color: $orange;
            font-size: 24px;
        }
        img {
            display: block;
            margin: 0 auto 10px auto;
            width: 60px;
        }
        span {
            color: #3f434a;
            font-size: 22px;
        }
        &:hover {
            box-shadow: 0 3px 8px #ccc;
        }
    }
    ul {
        clear: both;
        display: block;
        list-style: none;
        padding-left: 20px;
        li {
            font-size: 16px;
            margin-bottom: 5px;
            font-family: Arial, sans-serif !important;
            position: relative;
            padding-left: 40px;
            &:before {
                font-family: 'Glyphicons Halflings';
                content: "\e013";
                color: $orange;
                position: absolute;
                font-size: 25px;
                left: 0;
                top: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #self-service {
        .selfservice-block {
            margin-bottom: 20px;
        }
        ul {
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
}
