#sos {
    background: $light-gray;
    position: relative;
    padding: 42px 0;
    h3 {
        color: $orange;
        font-weight: 500 !important;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;
        font-family: Arial, sans-serif !important;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $light-gray;
        width: 2000px;
        margin-left: -2000px;
        content: "";
    }
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: $light-gray;
        width: 2000px;
        margin-right: -2000px;
        content: "";
    }
    a {
        display: block;
        text-align: center;
        font-family: Arial, sans-serif !important;
        font-weight: 500 !important;
        font-size: 16px;
        color: black;
        img {
            width: 28px;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    #sos {
        padding: 32px;
        h3 {
            font-size: 21px;
        }
    }
}
